<font color='teal'>

#  Aihab Daud
##  REG # 23jzelel0509
</font>

<font color='teal'>

### Subject: OOP & DS
### LAB-03
</font>

<font color='teal'>

####     SUBJECT
#####           * List, Tuple, and Dictionary*
</font>

<font color='pink'>
    
## Lab practice
</font>

In [1]:
# List:

In [2]:
# 1) Make a list of 5 any integers

In [3]:
my_list = [10, -5, 0, 25, 12]

In [4]:
print(my_list)

[10, -5, 0, 25, 12]

In [5]:
# . Make a list that contains the student's name, the last four digits of the registration number..... 
#.....as an integer, CGPA as a float, and a list that contains the GPA of all semesters. (Nested List)

In [6]:
students = [
    ["Aihab", 509, 3.75, [3.8, 3.6, 3.85, 3.7]],
    ["adeel", 504, 3.2, [3.0, 3.5, 3.1, 3.3]],
    ["adil", 510, 3.9, [2.95, 2.85, 1.9, 1.92]]
]

In [7]:
for student in students:
    name = student[0]
    reg_no = student[1]
    cgpa = student[2]
    semester_gpas = student[3]

In [8]:
print(f"Student Name: {name}")
print(f"Last 4 Digits of Registration Number: {reg_no}")
print(f"CGPA: {cgpa}")
print(f"GPA in Each Semester: {semester_gpas}")
print("-" * 20)

Student Name: adil
Last 4 Digits of Registration Number: 510
CGPA: 3.9
GPA in Each Semester: [2.95, 2.85, 1.9, 1.92]
--------------------

In [9]:
# 3) In the above list print the student's CGPA. (Index)

In [10]:
for student in students:
    name = student[0]
    cgpa = student[2]
    print(f"Student Name: {name}, CGPA: {cgpa}")

Student Name: Aihab, CGPA: 3.75
Student Name: adeel, CGPA: 3.2
Student Name: adil, CGPA: 3.9

In [11]:
# 4). Print the list elements using the while loop and use the length function. (len)

In [12]:
my_list = [10, 20, 30, 40, 50]
index = 0
list_length = len(my_list)

In [13]:
while index < list_length:
    print(my_list[index])
    index += 1

10
20
30
40
50

In [14]:
# 5) Access the list of all semester GPAs using negative indexing

In [15]:
for student in students:
    name = student[0]
    semester_gpas = student[-1]  
    print(f"Student Name: {name}, Semester GPAs: {semester_gpas}")

Student Name: Aihab, Semester GPAs: [3.8, 3.6, 3.85, 3.7]
Student Name: adeel, Semester GPAs: [3.0, 3.5, 3.1, 3.3]
Student Name: adil, Semester GPAs: [2.95, 2.85, 1.9, 1.92]

In [16]:
# 6) Make a list of the first 20 integers using the range function

In [17]:
first_20_integers = list(range(1, 21))

In [18]:
print(first_20_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
# 7) Make a list of odd integers from 20 to 40 using the range function.

In [20]:
odd_numbers = list(range(21, 40, 2))

In [21]:
print(odd_numbers)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [22]:
# 8) Consider the student list.....
# ....Student = [Ibrahim, Husain, Irfan, Ayub, Usman].....
# ....Use in and not in operators to ensure that the student is in the list or not.

In [23]:
students = ["Ibrahim", "Husain", "Irfan", "Ayub", "Usman"]
student_to_check = "Irfan"
if student_to_check in students:
    print(f"{student_to_check} is in the list.")
else:
    print(f"{student_to_check} is not in the list.")

student_to_check = "Ali"
if student_to_check not in students:
    print(f"{student_to_check} is not in the list.")
else:
    print(f"{student_to_check} is in the list.")

Irfan is in the list.
Ali is not in the list.

In [24]:
# 9) Print all the student lists in task 8 using the for loop.

In [25]:
students = ["Ibrahim", "Husain", "Irfan", "Ayub", "Usman"]

In [26]:
print("\nAll students in the list:")
for student in students:
    print(student)

All students in the list:
Ibrahim
Husain
Irfan
Ayub
Usman

In [27]:
# 10) Observe what is print, what is the first thing print, what the last thing print. Consider task 8 
#...for the student list. 
#...Student [1:3] and student [2:4]

In [28]:
Student = ["Ibrahim", "Husain", "Irfan", "Ayub", "Usman"]
print("Original list:", Student) 
sliced_list1 = Student[1:3]
print("First sliced list:", sliced_list1) 
sliced_list2 = Student[2:4]
print("Second sliced list:", sliced_list2)

Original list: ['Ibrahim', 'Husain', 'Irfan', 'Ayub', 'Usman']
First sliced list: ['Husain', 'Irfan']
Second sliced list: ['Irfan', 'Ayub']

In [29]:
# 11) Make an appropriate list and use and demonstrate the use of the following mutator Methods

In [30]:
fruits = ["apple", "banana", "orange"]

In [31]:
# # append(obj)

In [32]:
fruits.append("mango")
print("After append:", fruits)

After append: ['apple', 'banana', 'orange', 'mango']

In [33]:
# .extend(iterable)

In [34]:
more_fruits = ["grape", "kiwi"]
fruits.extend(more_fruits)
print("After extend:", fruits)

After extend: ['apple', 'banana', 'orange', 'mango', 'grape', 'kiwi']

In [35]:
# .insert(index, obj)

In [36]:
fruits.insert(1, "pear")
print("After insert:", fruits)

After insert: ['apple', 'pear', 'banana', 'orange', 'mango', 'grape', 'kiwi']

In [37]:
# .remove(obj)

In [38]:
fruits.remove("banana")
print("After remove:", fruits)

After remove: ['apple', 'pear', 'orange', 'mango', 'grape', 'kiwi']

In [39]:
# .pop([index=-1])

In [40]:
removed_fruit = fruits.pop(2) 
print("Removed fruit:", removed_fruit) 
print("After pop:", fruits)

Removed fruit: orange
After pop: ['apple', 'pear', 'mango', 'grape', 'kiwi']

In [41]:
# 12)  Use list inducing in the following nested list and access each and every element. 
# x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [42]:
def access_elements(nested_list):
    for element in nested_list:
        if isinstance(element, list):
            access_elements(element)
        else:
            print(element)

In [43]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]
access_elements(x)

a
bb
ccc
ddd
ee
ff
g
hh
ii
j

<font color='pink'>
    
# Tuple:
</font>

In [44]:
# 1)  Make a tuple containing first five letters of English. (definition)

In [46]:
first_five_letters = ('a', 'b', 'c', 'd', 'e')

In [47]:
print(first_five_letters)

('a', 'b', 'c', 'd', 'e')

In [48]:
# 2)  Use the index to access the third and last element.

In [49]:
third_letter = first_five_letters[2]

In [50]:
print("Third letter:", third_letter)

Third letter: c

In [52]:
last_letter = first_five_letters[-1]

In [53]:
print("Last letter:", last_letter)  # Output: Last letter: e

Last letter: e

In [54]:
# 3)  Make an appropriate list and tuple and use different operations that will show that list is mutable and tuple is immutable.

In [55]:
my_list = [1, 2, 3]

In [56]:
my_tuple = (1, 2, 3)

In [57]:
my_list[0] = 10  
print("Modified list:", my_list)

Modified list: [10, 2, 3]

In [58]:
try:
    my_tuple[0] = 10
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

In [59]:
# Add an element to the list
my_list.append(4)
print("List after appending:", my_list)  # Output: [10, 2, 3, 4]

List after appending: [10, 2, 3, 4]

In [60]:
# Attempt to add an element to the tuple (will result in an error)
try:
    my_tuple.append(4)
except AttributeError as e:
    print("Error:", e)  # Output: Error: 'tuple' object has no attribute 'append'

Error: 'tuple' object has no attribute 'append'

In [61]:
#  4) Make a tuple num = (1, 2, 3, 4).

In [63]:
num = (1, 2, 3, 4)

In [64]:
# Observe the output num[2] = 9

In [65]:
try:
    num[2] = 9
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

<font color='blue'>
    
# Dictionary:
</font>

. Consider the following structure and observe.

In [67]:
Fd = {'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [68]:
# Print Fd

In [69]:
print(Fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [70]:
# Fd['one']

In [71]:
print(Fd['one'])

aik

In [72]:
# Fd['ten']

In [73]:
print(Fd['ten'])

das

In [74]:
# del Fd['three'] and then print Fd

In [75]:
del Fd['three']
print(Fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [76]:
#  Len(Fd)

In [77]:
print(len(Fd))

3

In [78]:
# Use the key method and print the list of keys

In [79]:
print(list(Fd.keys()))

['one', 'ten', 'fifteen']

In [80]:
# Use the value function to print the list of values

In [81]:
print(list(Fd.values()))

['aik', 'das', 'pandra']

In [82]:
# Observe the output of Fd.items()

In [83]:
print(list(Fd.items()))

[('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')]

In [84]:
# . Observe the output Fd.has_key('one') and Fd.has_key('two') and think where such type of output will help and required.

In [86]:
print(Fd.has_key('one'))

AttributeError: 'dict' object has no attribute 'has_key'

In [87]:
print(Fd.has_key('two'))

AttributeError: 'dict' object has no attribute 'has_key'

In [88]:
# To copy the dictionary, one may use one of the following. Verify by printing copy and alias.

In [89]:
# a. copy = Fd.copy()

In [90]:
copy = Fd.copy()

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [91]:
print(copy)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [92]:
# b. alias = Fd

In [94]:
alias = Fd

In [95]:
print(alias)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [96]:
#  Now let alias['three'] = '3', now print alias and observe the result.

In [98]:
alias['three'] = '3'
print(alias)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

In [100]:
#  Also let copy['three'] = '3', now print copy and observe the result.

In [99]:
copy['three'] = '3'
print(copy)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

2. Make an appropriate dictionary and use the following built-in function and observe the 
result.

In [101]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}

In [ ]:
# a. .clear()

In [109]:
print("Original dictionary:", my_dict) 
my_dict.clear()
print("After .clear():", my_dict)

Original dictionary: {'apple': 1, 'banana': 2, 'cherry': 3}
After .clear(): {}

In [110]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}

In [111]:
# b. .get()

In [112]:
print("Value for 'apple':", my_dict.get('apple'))  # Output: 1
print("Value for 'orange':", my_dict.get('orange'))  # Output: None
print("Value for 'orange' with default value:", my_dict.get('orange', 0))  # Output: 0

Value for 'apple': 1
Value for 'orange': None
Value for 'orange' with default value: 0

In [113]:
print("Key-value pairs:", list(my_dict.items()))

Key-value pairs: [('apple', 1), ('banana', 2), ('cherry', 3)]

In [114]:
# d. .keys()

In [115]:
print("Keys:", list(my_dict.keys()))

Keys: ['apple', 'banana', 'cherry']

In [116]:
# e. .values()

In [117]:
print("Values:", list(my_dict.values()))

Values: [1, 2, 3]

## List comprehensions:

a. Consider the following code and print the square

In [125]:
squares = []
for x in range(10):
    squares.append(x * x)

In [126]:
squares = [x * x for x in range(10)]

In [127]:
print (squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

b. Replace the above code with the following. Print the square. This sample one-line code is 
called list comprehension

In [132]:
squares = [x * x for x in range(10)]

In [133]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

c. Chane x*x by any function of x and observe the resulting list

In [134]:
new_list = [2 * x + 1 for x in range(10)]

In [135]:
print(new_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

d.. List comprehensions can filter values based on some arbitrary condition that decides 
whether or not the resulting value becomes a part of the output list

In [140]:
even_numbers = [x for x in range(20) if x % 2 == 0]

In [141]:
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

e.This new list comprehension can be transformed into an equivalent for-loop:

In [144]:
even_squares = []
for x in range(10):
  if x % 2 == 0:
    even_squares.append(x * x)

In [145]:
print(even_squares)

[0, 4, 16, 36, 64]

## Dictionary comprehension:

In [147]:
{ x: x * x for x in range(5) }

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [148]:
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}